html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #040714;
    color: #f9f9f9;
    font-family: Avenir-Roman, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #f9f9f9;
    text-decoration: none;
}
.home{
    display: flex;
    flex-flow: column nowrap;
    
}

.home{
    position:relative;
    min-height:calc(100vh - 250px);
    overflow-x:hidden;
    display:block;
    top: 72px;
    padding: 0 calc(3.5vw +5px);
    padding: 0px 15px;
}

.home::after{
    background: url('/images/home-background.png') center center / cover no-repeat fixed;
    content: '';
    position:absolute;
    inset: 0;
    opacity: 1;
    z-index: -1;
}
